[submodule "Travis"]
	path = Travis
	url = https://github.com/HSR-Stud/Travis.git
[submodule "idiotenseite"]
	path = idiotenseite
	url = https://github.com/HSR-Stud/idiotenseite
[submodule "header"]
	path = header
	url = https://github.com/HSR-Stud/header.git
